(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("sim/SharedParallelBusMultiPanelDriver.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "bench",
                "top",
                "U$3",
            ],
            id: Wellen((6)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "U$3",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "h_sync",
                    id: Wellen((53)),
                ),
                color: None,
                background_color: None,
                display_name: "h_sync",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "U$3",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "pixel_data",
                    id: Wellen((67)),
                ),
                color: None,
                background_color: None,
                display_name: "pixel_data",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "U$3",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "de",
                    id: Wellen((55)),
                ),
                color: None,
                background_color: None,
                display_name: "de",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "U$3",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "v_sync",
                    id: Wellen((54)),
                ),
                color: None,
                background_color: None,
                display_name: "v_sync",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "U$3",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "video_bus_2__pclk",
                    id: Wellen((75)),
                ),
                color: None,
                background_color: None,
                display_name: "video_bus_2__pclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "U$3",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "_phase",
                    id: Wellen((47)),
                ),
                color: None,
                background_color: None,
                display_name: "_phase",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "U$3",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "video_bus_1__pclk",
                    id: Wellen((71)),
                ),
                color: None,
                background_color: None,
                display_name: "video_bus_1__pclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk",
                    id: Wellen((1)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "U$3",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "_y",
                    id: Wellen((51)),
                ),
                color: None,
                background_color: None,
                display_name: "_y",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "U$3",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "_x",
                    id: Wellen((49)),
                ),
                color: None,
                background_color: None,
                display_name: "_x",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "bench",
                            "top",
                            "U$3",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "video_bus_0__pclk",
                    id: Wellen((66)),
                ),
                color: None,
                background_color: None,
                display_name: "video_bus_0__pclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 18,
        viewports: [
            (
                curr_left: (0.09856722104201794),
                curr_right: (0.14835433240892815),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1555217525,
        ])),
        markers: {},
        focused_item: Some((7)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (10),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)